{
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"],
        "eslint linebreak-style": [0, "error", "windows"],
        "comma-dangle": 0,
        "no-console": 2,
        "indent": ["error", 4],
        "object-curly-newline": [
            "error",
            {
              "ObjectExpression": {
                "multiline": true,
                "consistent": true
              },
              "ObjectPattern": {
                "multiline": true,
                "consistent": true
              },
              "ImportDeclaration": {
                "multiline": true,
                "consistent": true,
                "minProperties": 0
              }
            }
          ],
          "prefer-destructuring": ["error", {
            "VariableDeclarator": {
              "array": false,
              "object": false
            },
            "AssignmentExpression": {
              "array": true,
              "object": false
            }
          }, {
            "enforceForRenamedProperties": true
          }]
    }
}
